name: Data Pipeline ETL and dbt

on:
  push:
    branches: main

jobs:
  run-etl:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dep
        run: pip install -r requirements.txt

      - name: run ETL script
        run: python etl.py

      - name: run tests
        run: pytest



      # - name: install dbt
      #   run: pip install dbt-postgres

      # - name: run dbt models
      #   run: dbt run

      # - name: test dbt models
      #   run: dbt test