name: Data Pipeline ETL and dbt

on:
  push:
    branches: [main]

jobs:
  run-etl:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: github
          POSTGRES_PASSWORD: github
          POSTGRES_DB: github_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U github"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dep
        run: pip install -r requirements.txt

      - name: run ETL script
        run: python etl.py

      - name: run tests
        run: pytest test.py

      - name: Set DB env variables
        run: |
          echo "DB_HOST=localhost" >> $GITHUB_ENV
          echo "DB_USER=github" >> $GITHUB_ENV
          echo "DB_PASSWORD=github" >> $GITHUB_ENV
          echo "DB_NAME=github_db" >> $GITHUB_ENV

      - name: Install dbt
        run: pip install dbt-postgres

      - name: Init dbt project
        run: |
          dbt init my_dbt_project
          mkdir -p my_dbt_project/models
          echo "select 1 as id, 'test' as name" > my_dbt_project/models/sample_model.sql
          echo "my_dbt_project:
            target: dev
            outputs:
              dev:
                type: postgres
                host: {{ env_var('DB_HOST') }}
                user: {{ env_var('DB_USER') }}
                password: {{ env_var('DB_PASSWORD') }}
                dbname: {{ env_var('DB_NAME') }}
                schema: public
                threads: 1" > ~/.dbt/profiles.yml

      - name: Run dbt models
        run: dbt run --project-dir ./my_dbt_project

      - name: Test dbt models
        run: dbt test --project-dir my_dbt_project

      - name: run dbt models
        run: dbt run

      - name: test dbt models
        run: dbt test