name: matrix_os

on:
  push:
    branches:
      - main

jobs:
  run-matrix:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node: [17, 16]

    steps:
      - name: Print info
        run: |
          echo "running on os ${{ matrix.os }}"
          echo "running on node ${{ matrix.node }}"

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Run linux commands
        run: |
          uname -a
          node -v
          echo "hello from matrix"